.PostNew {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.PostNew label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.PostNew input,
.PostNew textarea,
.PostNew select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid darkgrey;
    outline: none;
    font: inherit;
    margin: auto;
    padding:0.5% 1%;
}

.PostNew button {
    margin: 10px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    cursor: pointer;
}

.PostNew button:hover,
.PostNew button:active {
    color: white;
    background-color: #000;
}