.Post {
    width: 200px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Post h3 {
    font-size: 16px;
    line-height: 1.2
}

.Post:hover,
.Post:active {
    background-color: #C0DDF5;
}

.Author {
    margin: 16px 0;
    color: rgb(77, 77, 77);
}
